{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}

<form action="/buy" method="post">
    <div class="mb-3">
        <h1>Buy a stock</h1>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control mx-auto w-auto" name="shares" placeholder="Shares">
    </div>
    <div class="mb-3">
        <button id="submit" class="btn btn-primary" type="submit">Buy</button>
    </div>
</form>

{% endblock %}