{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<h1>Transaction History: Cash Account</h1>
<div class="container text-center">
    <table id="portfolio_datagrid" class="table table-striped">
        <tr>
            <th>ID</th>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Operation</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Debit</th>
            <th class="text-end">Credit</th>
            <th class="text-end">Time (GMT/UTC)</th>
        </tr>

        {% for item in transactions %}
        <tr>
            <th>{{ item["id"] }}</th>

            {% if item["symbol"] == "__TOP_UP__" %}

            <td class="text-start"></td>
            <td class="text-start">CS50 Finance</td>
            <td class="text-end">TOP UP</td>
            <td class="text-end"></td>
            <td class="text-end"></td>
            <td class="text-end">{{ item["price"] }}</td> <!--debit-->
            <td class="text-end"></td>

            {% else %}

            <td class="text-start">{{ item["symbol"] }}</td>
            <td class="text-start">{{ item["name"] }}</td>
            <td class="text-end">{{ item["operation"] }}</td>
            <td class="text-end">{{ item["shares"] }}</td>
            <td class="text-end">{{ item["price"] }}</td>
            <td class="text-end">{{ item["debit"] }}</td>
            <td class="text-end">{{ item["credit"] }}</td>

            {% endif %}

            <td class="text-end">{{ item["time"] }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th class="text-end">Balance:</th>
            <th class="text-end">{{ balance }}</th>
            <td class="text-end">{{ now }}</td>
        </tr>
    </table>
</div>


{% endblock %}